# ðŸ”„ Review: What is a Series?
A Series is a one-dimensional labeled array that can hold any data type (integers, strings, floats, Python objects, etc.). Think of it as:
* A single column in an Excel spreadsheet
* A Python list with superpowers (labels/index)
* A dictionary that maintains order and supports operations

# ðŸ—ï¸ Creating Series
## Method 1: From a List

In [6]:
import pandas as pd
import numpy as np

# Basic Series from list
s = pd.Series([10, 20, 30, 40, 50])
print(s)
# Output:
# 0    10
# 1    20
# 2    30
# 3    40
# 4    50
# dtype: int64

# With custom index
s = pd.Series([10, 20, 30, 40, 50], 
              index=['a', 'b', 'c', 'd', 'e'])
print(s)
# Output:
# a    10
# b    20
# c    30
# d    40
# e    50
# dtype: int64

# With name (useful when converting to DataFrame)
s = pd.Series([10, 20, 30], 
              index=['a', 'b', 'c'],
              name='my_series')

0    10
1    20
2    30
3    40
4    50
dtype: int64
a    10
b    20
c    30
d    40
e    50
dtype: int64

## Method 2: From a Dictionary

In [8]:
# Dictionary keys become index
data = {'apple': 1.5, 'banana': 0.8, 'orange': 2.0, 'mango': 3.5}
prices = pd.Series(data)
print(prices)
# Output:
# apple     1.5
# banana    0.8
# orange    2.0
# mango     3.5
# dtype: float64

# Specify different index order
prices = pd.Series(data, index=['banana', 'apple', 'mango'])
# Note: 'orange' is excluded, and order is as specified
prices

apple     1.5
banana    0.8
orange    2.0
mango     3.5
dtype: float64

banana    0.8
apple     1.5
mango     3.5
dtype: float64

# Method 3: From a Scalar Value

In [9]:
# Repeats the scalar value
s = pd.Series(5, index=['a', 'b', 'c', 'd'])
print(s)
# Output:
# a    5
# b    5
# c    5
# d    5
# dtype: int64

a    5
b    5
c    5
d    5
dtype: int64

# Method 4: From a NumPy Array

In [11]:
arr = np.array([1, 2, 3, 4, 5])
s = pd.Series(arr, index=['v', 'w', 'x', 'y', 'z'])
s

v    1
w    2
x    3
y    4
z    5
dtype: int64

# ðŸŽ¯ Series Attributes

In [ ]:
s = pd.Series([10, 20, 30, 40, 50], 
              index=['a', 'b', 'c', 'd', 'e'],
              name='numbers')

# Core attributes
print(s.values)      # numpy array: [10 20 30 40 50]
print(s.index)       # Index(['a', 'b', 'c', 'd', 'e'])
print(s.dtype)       # int64
print(s.shape)       # (5,)
print(s.size)        # 5
print(s.name)        # 'numbers'
print(s.hasnans)     # False (True if any NaN values)

# ðŸ” Indexing and Selection

## 1. Label-Based Indexing (.loc)

In [15]:
s = pd.Series([10, 20, 30, 40, 50], 
              index=['a', 'b', 'c', 'd', 'e'])

# Single element
print(s['a'])           # 10
print(s.loc['a'])       # 10 (explicit)

# Multiple elements
print(s[['a', 'c', 'e']])
# Output:
# a    10
# c    30
# e    50

# Slicing (INCLUSIVE of end point!)
print(s['a':'c'])       # Includes 'c'
# Output:
# a    10
# b    20
# c    30
s

10
10
a    10
c    30
e    50
dtype: int64
a    10
b    20
c    30
dtype: int64

a    10
b    20
c    30
d    40
e    50
dtype: int64

## 2. Position-Based Indexing (.iloc)

In [16]:
# Single element by position
print(s.iloc[0])        # 10
print(s.iloc[-1])       # 50 (last element)

# Multiple positions
print(s.iloc[[0, 2, 4]])
# Output:
# a    10
# c    30
# e    50

Slicing (EXCLUSIVE of end point!)
print(s.iloc[0:3])      # Excludes position 3
# Output:
# a    10
# b    20
# c    30
s

10
50
a    10
c    30
e    50
dtype: int64
a    10
b    20
c    30
dtype: int64

a    10
b    20
c    30
d    40
e    50
dtype: int64

## 3. Boolean Indexing

In [19]:
# Filter values
print(s[s > 25])
# Output:
# c    30
# d    40
# e    50

# Multiple conditions
print(s[(s > 15) & (s < 45)])
# Output:
# b    20
# c    30
# d    40

# Using isin()
print(s[s.isin([10, 30, 50])])
# Output:
# a    10
# c    30
# e    50

c    30
d    40
e    50
dtype: int64
b    20
c    30
d    40
dtype: int64
a    10
c    30
e    50
dtype: int64

## ðŸ§® Mathematical Operations

* Arithmetic Operations

In [ ]:
s = pd.Series([10, 20, 30, 40, 50])

# Element-wise operations
print(s + 5)      # [15, 25, 35, 45, 55]
print(s - 10)     # [0, 10, 20, 30, 40]
print(s * 2)      # [20, 40, 60, 80, 100]
print(s / 5)      # [2.0, 4.0, 6.0, 8.0, 10.0]
print(s ** 2)     # [100, 400, 900, 1600, 2500]
print(s % 3)      # [1, 2, 0, 1, 2]

# Operations between Series
s1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print(s1 + s2)
# Output:
# a     11
# b     22
# c     33
# d     44

In [ ]:
# Universal Functions (ufuncs)
s = pd.Series([1, 4, 9, 16, 25])

# NumPy functions work on Series
print(np.sqrt(s))      # Square root
print(np.log(s))       # Natural logarithm
print(np.exp(s))       # Exponential

# Rounding
s = pd.Series([1.234, 2.567, 3.891])
print(s.round(1))      # [1.2, 2.6, 3.9]
print(s.round(0))      # [1.0, 3.0, 4.0]

# ðŸ“Š Statistical Methods

# Descriptive Statistics

In [21]:
s = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])

# Central tendency
print(s.mean())        # 55.0 (average)
print(s.median())      # 55.0 (middle value)
print(s.mode())        # Most frequent value(s)

# Dispersion
print(s.std())         # 30.28 (standard deviation)
print(s.var())         # 916.67 (variance)
print(s.min())         # 10
print(s.max())         # 100
print(s.quantile(0.25))  # 25th percentile

# Range
print(s.max() - s.min())  # 90

# Other statistics
print(s.sum())         # 550
print(s.count())       # 10 (number of non-NA values)
print(s.describe())    # Complete statistical summary

55.0
55.0
0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64
30.276503540974915
916.6666666666666
10
100
32.5
90
550
10
count     10.000000
mean      55.000000
std       30.276504
min       10.000000
25%       32.500000
50%       55.000000
75%       77.500000
max      100.000000
dtype: float64

# Cumulative and Rolling Operations

In [25]:
s = pd.Series([1, 2, 3, 4, 5])

# Cumulative
# print(s.cumsum())      # [1, 3, 6, 10, 15]
# print(s.cumprod())     # [1, 2, 6, 24, 120]
# print(s.cummax())      # [1, 2, 3, 4, 5]
# print(s.cummin())      # [1, 1, 1, 1, 1]

# Rolling window operations
s = pd.Series([10, 20, 30, 40, 50])
print(s.rolling(window=3).mean())
# Output:
# 0     NaN
# 1     NaN
# 2    20.0  (mean of 10, 20, 30)
# 3    30.0  (mean of 20, 30, 40)
# 4    40.0  (mean of 30, 40, 50)

0     NaN
1     NaN
2    20.0
3    30.0
4    40.0
dtype: float64

In [26]:
# ðŸ”¤ String Methods
fruits = pd.Series(['Apple', 'Banana', 'orange', 'MANGO', 'grape'])

# Case conversion
print(fruits.str.lower())       # All lowercase
print(fruits.str.upper())       # All uppercase
print(fruits.str.title())       # Title Case
print(fruits.str.capitalize())  # First letter capital
print(type(fruits.str))
# String information
print(fruits.str.len())         # Length of each string
# Output: [5, 6, 6, 5, 5]

print(fruits.str.startswith('A'))  # Boolean Series
# Output: [True, False, False, False, False]

print(fruits.str.endswith('e'))
# Output: [True, False, True, False, True]

# String manipulation
print(fruits.str.replace('a', 'X'))
print(fruits.str.strip())       # Remove whitespace
print(fruits.str.split('a'))    # Split on character

# Extract patterns
emails = pd.Series(['john@email.com', 'jane@email.com', 'bob@email.com'])
print(emails.str.extract(r'(.+)@'))  # Extract before @
# Output:
# 0    john
# 1    jane
# 2     bob

# Check if contains
print(fruits.str.contains('an'))
# Output: [False, True, True, False, False]

0     apple
1    banana
2    orange
3     mango
4     grape
dtype: object
0     APPLE
1    BANANA
2    ORANGE
3     MANGO
4     GRAPE
dtype: object
0     Apple
1    Banana
2    Orange
3     Mango
4     Grape
dtype: object
0     Apple
1    Banana
2    Orange
3     Mango
4     Grape
dtype: object
<class 'pandas.core.strings.accessor.StringMethods'>
0    5
1    6
2    6
3    5
4    5
dtype: int64
0     True
1    False
2    False
3    False
4    False
dtype: bool
0     True
1    False
2     True
3    False
4     True
dtype: bool
0     Apple
1    BXnXnX
2    orXnge
3     MANGO
4     grXpe
dtype: object
0     Apple
1    Banana
2    orange
3     MANGO
4     grape
dtype: object
0        [Apple]
1    [B, n, n, ]
2      [or, nge]
3        [MANGO]
4       [gr, pe]
dtype: object
      0
0  john
1  jane
2   bob
0    False
1     True
2     True
3    False
4    False
dtype: bool

# ðŸš« Handling Missing Data
Creating Series with Missing Values

In [27]:
# Using None or np.nan
s = pd.Series([1, 2, None, 4, np.nan, 6])
print(s)
# Output:
# 0    1.0
# 1    2.0
# 2    NaN
# 3    4.0
# 4    NaN
# 5    6.0

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
5    6.0
dtype: float64

In [29]:
# Check for missing values
print(s.isna())        # or s.isnull()
# Output:
# 0    False
# 1    False
# 2     True
# 3    False
# 4     True
# 5    False

print(s.notna())       # or s.notnull()
# Opposite of isna()

# Count missing values
print(s.isna().sum())  # 2

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool
0     True
1     True
2    False
3     True
4    False
5     True
dtype: bool
2

In [48]:
# Drop missing values
print(s.dropna())
# Output:
# 0    1.0
# 1    2.0
# 3    4.0
# 5    6.0

# Fill missing values
print(s.fillna(0))     # Fill with 0
print(s.fillna(s.mean()))  # Fill with mean
print(s.fillna(method='ffill'))  # Forward fill
print(s.fillna(method='bfill'))  # Backward fill

# Replace specific values
s = pd.Series([1, 2, -999, 4, -999, 6])
print(s.replace(-999, np.nan))  # Replace -999 with NaN

0    1.0
1    2.0
3    4.0
5    6.0
dtype: float64
0    1.0
1    2.0
2    0.0
3    4.0
4    0.0
5    6.0
dtype: float64
0    1.00
1    2.00
2    3.25
3    4.00
4    3.25
5    6.00
dtype: float64
0    1.0
1    2.0
2    2.0
3    4.0
4    4.0
5    6.0
dtype: float64
0    1.0
1    2.0
2    4.0
3    4.0
4    6.0
5    6.0
dtype: float64
0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
5    6.0
dtype: float64

C:\temp\ipykernel_5796\2159590344.py:12: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(s.fillna(method='ffill'))  # Forward fill
C:\temp\ipykernel_5796\2159590344.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(s.fillna(method='bfill'))  # Backward fill

# ðŸ”„ Sorting
Sort by Values

In [ ]:
s = pd.Series([30, 10, 50, 20, 40], 
              index=['e', 'a', 'c', 'b', 'd'])

# Ascending
print(s.sort_values())
# Output:
# a    10
# b    20
# e    30
# d    40
# c    50

# Descending
print(s.sort_values(ascending=False))
# Output:
# c    50
# d    40
# e    30
# b    20
# a    10

In [ ]:
# Sort by Index
print(s.sort_index())
# Output:
# a    10
# b    20
# c    50
# d    40
# e    30

In [ ]:
# ðŸŽ­ Unique Values and Value Counts
fruits = pd.Series(['apple', 'banana', 'apple', 'orange', 
                    'banana', 'apple', 'mango', 'orange'])

# Unique values
print(fruits.unique())
# Output: ['apple' 'banana' 'orange' 'mango']

# Number of unique values
print(fruits.nunique())  # 4

# Value counts (frequency)
print(fruits.value_counts())
# Output:
# apple     3
# banana    2
# orange    2
# mango     1

# Normalized (percentages)
print(fruits.value_counts(normalize=True))
# Output:
# apple     0.375
# banana    0.250
# orange    0.250
# mango     0.125

# ðŸ”§ Applying Functions
Using .apply()

In [49]:
s = pd.Series([1, 2, 3, 4, 5])

# Apply a function to each element
print(s.apply(lambda x: x ** 2))
# Output: [1, 4, 9, 16, 25]

# Custom function
def categorize(x):
    if x < 3:
        return 'Low'
    elif x < 4:
        return 'Medium'
    else:
        return 'High'

print(s.apply(categorize))
# Output:
# 0      Low
# 1      Low
# 2   Medium
# 3     High
# 4     High

# Using .map() with a dictionary
mapping = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}
print(s.map(mapping))

0     1
1     4
2     9
3    16
4    25
dtype: int64
0       Low
1       Low
2    Medium
3      High
4      High
dtype: object
0      one
1      two
2    three
3     four
4     five
dtype: object

# ðŸ’¡ Practical Examples

In [52]:
temps = pd.Series([22, 24, 26, 23, 25, 28, 27],
                  index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                  name='Temperature_C')

In [53]:
print("Weekly Temperature Analysis")
print("="*40)
print(f"Average: {temps.mean():.2f}Â°C")
print(f"Hottest: {temps.max()}Â°C on {temps.idxmax()}")
print(f"Coldest: {temps.min()}Â°C on {temps.idxmin()}")
print(f"Range: {temps.max() - temps.min()}Â°C")

Weekly Temperature Analysis
========================================
Average: 25.00Â°C
Hottest: 28Â°C on Sat
Coldest: 22Â°C on Mon
Range: 6Â°C

In [57]:
value = 9.5454546
print(f'{value:.2f}')

9.55